
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span9">
          <div class="form-inline well" style = "position: fixed;">
            <fieldset>
             <input readonly type="text" class="input-medium" id="user_name">
             <input type="text" class="input-xlarge" id="message">
             <button id="send" class="btn btn-primary">Send</button>
            </fieldset>
          </div>
          <div style="height:70pt;"></div>
          <h3>Administrator Chat Room</h3>
          <% if notice %>
            <div class="notice"><%= notice %></div>
          <% elsif alert %>
            <div class="alert"><%= alert %></div>
          <% end %>
          <div id="chat" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
          </div>
        </div>
        <div class="span3">
          <div class="well sidebar-nav" style = "position: fixed;">
            <h3>Users</h3>
            <ul class="nav nav-list" id="user-list">
              <li class="nav-header">Active</li>
            </ul>
          </div>
      </div>
    </div><!--/row-->
  </div><!--/content-->
</div> <!-- /container -->


