<% provide(:title, 'Apply') %>
<h1>My Application</h1>

<% if @user.id == current_user.id %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for( [@user, @user.build_volunteer_app] ) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<% else %>
<p>You do not have permission to view this page.</p>
<% end %>
