<footer class="footer">
  <small>
    <a href="http://www.americasolidaria.org">america solidaria</a>
    by Sean T Fitzgerald and Sirui Lu
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
